* {
    box-sizing: border-box;
}

html, body {
    margin: 0 10px 0 10px;
    padding: 0;
}

body {
    background-color: #fafafa;

    font-family: "DejaVu Sans Mono", sans-serif;
}

h1 {
    color: #222;
}

h2 {
    color: #444;
}

#request-log {
    height: 45vh;
    width: 100%;
    overflow: scroll;
    padding: 5px;

    border: 1px solid gray;
}

#request-log p {
    padding: 5px 10px 5px 10px;

    border: 2px dashed #666;
    border-left: none;
    border-right: none;

    font-family: "DejaVu Sans Mono", sans-serif;
    font-size: 120%;
    color: #111;
}
